@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
  }

body {
color: set-text-color($black);
height: 100%;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
text-align: justify;

}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
    color: #000;
    align-items: center;
    text-align: center;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
} 
  
a {
color: #000;
text-decoration: none;
}
  
.text-secondary {
color: $secondary-color;
}
  

main {
    padding: 5rem;
    height: 100vh;
    min-height: calc(100vh - 60px);
}

.home {
  img {
    position: center;
  }
}

.background-image {
  width: auto;    /* Makes the image width equal to the width of the viewport */
  height: 110%;   /* Scales the height automatically to maintain the aspect ratio */
  position: fixed; /* Keeps the image fixed during scrolling */
  top: 0;
  left: 0;
  filter: blur(8px);
  z-index: -1; /* Positions the image behind the content */
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    text-align: center;
}

.infoColumn {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(2, 1fr);

    img {
      width: 100%;
      border-radius: 10px;
      border: 5px solid #000;
    }
}

.infoRow {
  display: flex;
  gap: 2.0rem;
  flex-direction: column;
  justify-content: space-around;
}

.infoText {
  width: 100%;
  padding: 20px;
  border: 5px solid #000;
  border-radius: 10px;
  background: darken($primary-color, 5);
}

.images {
  display: grid;
  grid-gap: 4.0rem;
  grid-template-columns: repeat(4, 1fr);

    img {
      object-fit: cover;
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 10px 10px 10px #000;
    }
}

@import 'mobile';